{% extends "base.html" %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
    <section>
        <h1>{{ post.title }}</h1>
        <img src="{{ post.banner.url }}" alt="{{ post.title }}" 
            class="img-fluid rounded shadow-lg d-block mx-auto mb-4 banner-img"/>
        <p>{{ post.body }}</p>
        <p>
            
            {% if post.last_updated > post.date %}
                <em class="text-success ms-2">edited</em>
                on {{ post.last_updated }}
            {% else %}
                Posted on {{ post.date }}
            {% endif %}

        </p> 

        {% if request.user == post.author %}
            <a href="{% url 'posts:edit' slug=post.slug %}" class="btn btn-success"> Edit Post</a>
            <a href="{% url 'posts:delete' slug=post.slug %}" class="btn btn-danger"> Delete Post</a>
        {% endif %}
    </section>    
{% endblock content %}
