{% extends "base.html" %}

{% block title %}
    User Login
{% endblock title %}

{% block content %}

    <div class="login-form">
        <h2 class="login-account">User Login</h2>
        <form class="form-with-validation" action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
            {% endif %}
            <button class="btn btn-success mt-2 form-submit">Login</button>
        </form>
    </div>

{% endblock content %}
