{% extends "base.html" %}

{% block title %}
    Create An Account
{% endblock title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="form-container">
        <h2 class="register-account">Create An Account</h2>
        <form class="form-with-validation" action="{% url 'users:register' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-success mt-2 form-submit">Register</button>
        </form>
    </div>
</div>
{% endblock content %}
